:root {
  --primary-color: #007bff;
  --primary-color_accent: #0048ff;
  --secondary-color: #59d237;
  --secondary-color_accent: #3ad237;
  --background-light: #fffffe;
  --background-light_accent: #efefef;
  --background-dark: #171717;
  --background-dark_accent: #262626;
  --border-radius-1: 0.5rem;
  --border-radius-2: 1rem;
}
